<div class="lw-profile">
    {{#get "authors" limit="1"}}
        {{#foreach authors}}
            <div class="lw-profile-author">
                <img class="profile-image" src="{{profile_image}}" />
                <p class="profile-name">{{name}}</p>
                <p class="profile-bio">{{bio}}</p>
                <ul>
                    <li><a href="{{website}}">{{> "icons/link"}} <span class="extract-hostname">{{website}}</span></a></li>
                    <li><a href="https://twitter.com/{{slug}}">{{> "icons/twitter"}} @{{slug}}</a></li>
                    <li><a href="https://github.com/{{slug}}">{{> "icons/github"}} @{{slug}}</a></li>
                </ul>
            </div>
        {{/foreach}}
    {{/get}}
</div>
