<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    <title>{{meta_title}}</title>

    {{ghost_head}}

</head>

<body class="{{body_class}}">
    <div class="lw-viewport">
        {{> header}}
        {{> profile}}

        <main class="lw-main">
            {{{body}}}
        </main>

        {{> footer}}
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    {{#if pagination.pages}}
    <script>
        var maxPages = parseInt('{{pagination.pages}}');
    </script>
    <script src="{{asset "built/infinitescroll.js"}}"></script>
    {{/if}}

    {{#is "post, page"}}
    <script src="{{asset "built/jquery.fitvids.js"}}"></script>
    <script>
    var images = document.querySelectorAll('.kg-gallery-image img');
    images.forEach(function (image) {
        var container = image.closest('.kg-gallery-image');
        var width = image.attributes.width.value;
        var height = image.attributes.height.value;
        var ratio = width / height;
        container.style.flex = ratio + ' 1 0%';
    });
    $(document).ready(function () {
        // FitVids - start
        var $postContent = $(".lw-content");
        $postContent.fitVids();
    });
    </script>
    {{/is}}

    <script src="{{asset "built/script-ts.js"}}"></script>

    {{ghost_foot}}

</body>
</html>