<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
</head>
<body class="error-template">
    <div class="lw-error">
        <h1 class="title">{{@site.title}}</h1>
        <div class="lw-error-details">
            <h2 class="lw-error-code">{{statusCode}}</h2>
            <p class="lw-error-description">{{message}}</p>
            <p class="lw-error-link"><a href="{{@site.url}}">Return to home</a></p>
        </div>
    </div>
</body>
</html>
