{{!< default}}

{{#post}}

<article class="{{post_class}}">
    <header class="lw-post-header">
        <h1 class="lw-post-title">{{title}}</h1>

        <div class="lw-post-details">
            <p class="item">{{> "icons/person"}} {{primary_author.name}}</p>
            <p class="item">{{> "icons/calendar"}} {{date published_at format="YYYY/mm/d"}}</p>
            <p class="item">{{> "icons/clock"}} {{reading_time}}</p>
        </div>

        <div class="lw-post-tags">
            {{> "icons/tags"}}
            <div class="lw-post-tags-inner">
                {{tags separator=",&nbsp;"}}
            </div>
        </div>

        {{#if feature_image}}
            <img class="lw-post-image" src="{{feature_image}}" alt="{{title}}" />
        {{/if}}
    </header>

    <div class="lw-content">
        {{content}}
    </div>

    <footer class="lw-post-footer"></footer>
</article>

{{/post}}
