{{!< default}}

<div class="lw-page lw-tag">
    {{#tag}}
    <header class="tag-head">
        <h1 class="post-feed-section-header text-header"># {{name}}</h1>

        <p class="tag-description">
            {{#if description}}
                {{description}}
            {{else}}
                {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}} about <span class="tag-name">{{name}}</span>. Read below or browse <a href="/tags">other tags</a>.
            {{/if}}
        </p>

        <div class="separator post-feed-section-separator"></div>
    </header>
    {{/tag}}

    <div class="post-feed">
        {{#foreach posts}}
            {{> "post-card"}}
        {{/foreach}}
    </div>
</div>
